body{  
    max-width: 1399px;
   padding: 0;
   margin: 0;
}
header{
 width: 1200px;
 height: 69px;
} 

#logo_content{
  position: relative;
  left: 60px;
  top: 20px;
}

#image_logo{
    width: 22px;
}

#logo{
    width: 39px;
    text-decoration-line: none;
    color: #C92071;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    bottom: 2px;    
    
}

main{
    width: 1399px;
    height: 710px;
    background-image: linear-gradient(to bottom , #B5B6F2, #EFEFFF
    );
    display: flex;
}

.formulario{
    background-color: white;
    width: 500px;
    height: 500px;
    position: relative;
    left: 100px;
    top: 70px;
   
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

input{
    width: 460px;
    height: 40px;
    position: relative;
    left: 19px;
    border-radius: 8px;
    border: none;
}

#button{
    background-color: #C92071;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 30px;
}

#senha{
    background-color:#f8f5f5;
}

#esqueci{
    position: relative;
    top: 13px;
}

#email{
    background-color: #f8f5f5;
}

#acesse{
    font-size: 30px;
    color: #1F1F1F;
    position: relative;
    left: 19px;
    top: 10px;
}

h2{
    font-size: 18px;

}

.gray{
    color: #474747;
    position: relative;
    left: 19px;
}

#ou{
    
    position: relative;
    top: 40px;
    left: 178px;
}

#gmail{
    position: relative;
    left: 308px;
    bottom: 4px;
}

#facebook{
    position: relative;
    left: 343px;
    bottom: 33px;
}


#aq{
    color: #474747;
}

#tenis1{
    width: 340px;
    position: relative;
    left: 130px;
}

#tenis2{
    width: 360px;
    position: relative;
    left: 20px;
    top: 140px;
}

